body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef3a6;
  text-align: center;
  color: #392f5a;
}

#add {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #ff6b6c;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#add:hover {
  background-color: #fe5f55;
}

#remove {
  padding: 0.5em;
  background-color: #519e8a;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  font-size: 12px;
}

#remove:hover {
  background-color: #476a6f;
}

#builder {
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

tr:nth-of-type(odd) {
  background: #eeeeee;
}

th {
  background: #392f5a;
  color: #ffffff;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;

}

@media only screen and (max-width: 500px) {

  body {
    margin: 0;
  }

}
