body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef3a6;
  text-align: center;
  color: #392f5a;
}

#add {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #519e8a;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#add:hover {
  background-color: #476a6f;
}

#remove {
  padding: 0.5em;
  background-color: #ff6b6c;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  font-size: 12px;
}

#remove:hover {
  background-color: #fe5f55;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

tr:nth-of-type(odd) {
  background: #eeeeee;
}

th {
  background: #392f5a;
  color: #ffffff;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;

}

#status {
  min-width: 60px;
  padding: 0.5em;
  background-color: #8eb1c7;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  font-size: 12px;
}

#status:hover {
  background-color: #392f5a;
}


/* POPUP FORM CSS*/
{box-sizing: border-box;}

/* popup form - hidden by default */
#form-popup {
  display: none;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style to the form container */
#add-form {
  max-width: 300px;
  padding: 10px;
  background-color: #ffff;
  border-radius: 5px;
}

/* full width input fields */
#add-form input {
  width: 90%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* full width input fields */
#add-form input[type=radio] {
  width: 10%;
}

/* when input gets into focus */
#add-form input:focus {
  background-color: #dddddd;
  outline: none;
}

/* style for submit / cancel button */
#add-form .btn {
  background-color: #519e8a;
  color: #ffffff;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* hover affects for form buttons */
#add-form .btn:hover {
  background-color: #476a6f;
}

@media only screen and (max-width: 500px) {

  body {
    margin: 0;
  }

  #add-form {
    width: 400px;
  }

}
